/* RESET */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,button{
    border:none;
}
*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}

/* BUTTONS */

.btn{
    background: #7cc576;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.btn__oval{
    border-radius: 30px;
    padding: 20px 30px;
}

/* HEADINGS */

.heading{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.heading__main{
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -3px;
}

.heading__section{
    font-size: 40px;
    line-height: 75px;
    letter-spacing: -2px;
    text-align: center;
    margin: 24px 0 8px 0;
}

.heading__article{
    font-size: 18px;
    line-height: 75px;
    letter-spacing: -0.45px;
}

.heading__dark-grey{
    color: #222;
}

/* TEXT */

.text{
    font-family: 'Roboto Slab', serif;
}

.text__subheading{
    font-size: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 32px;
}

.text__article{
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 24px;
}

.text__grey{
    color: #777;
}

.text__dark-grey{
    color: #222;
}

.text__light-grey{
    color: #cccccc;
}


/* NAVBAR */

.navbar{
    padding: 24px 0;
}

.navbar-company{
    display: inline-block;
    padding-top: 16px;
    text-decoration: none;
}

.navbar-company__image{
    margin-right: 4px;
}

.navbar-company__name{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
    font-size: 18px;
    line-height: 21px;
    padding-top: 6px;
}

.navbar-menu{
    list-style: none;
    float: right;
    display: flex;
    justify-content: flex-end;
}

.navbar-menu__elem{
    font-family: 'Montserrat', sans-serif;
    padding: 24px 16px;
}

.navbar-menu__link {
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

/* TITLE SECTION */
.title{
    background-image: url("images/title-img.jpg") ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align:center;
    color: #fff;
}
.title__layer{
    background: rgba(0,0,0,0.75);
    padding: 80px 0;
}

.title__heading{
    margin: 30px 0;    
}

.title__btn{
        margin: 60px 0 40px 0;
}

/* OFFER , CULTURE */

.offer, .culture {
    padding: 80px 0;
}

.offer__heading, .culture__heading{
    margin: 30px 0;
}

.offer__subheading, .culture__subheading{
    margin-bottom: 72px;
}

.offer__articles, .culture__articles{
    display: flex;
    justify-content: center;
}

.offer__article, .culture__article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 275px;
    text-align: center;
    margin: 0 16px;
}

.culture{
    background: #f9f9f9;
}

.culture__image-box{
    width: 85px;
    height: 85px;
    border: 3px solid #777777;
    border-radius: 50%;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.culture__articles .culture__article:nth-child(1) .culture__image-box:after, 
.culture__articles .culture__article:nth-child(2) .culture__image-box:after {
    content: "";
    width: 170px;
    border-top: 3px solid #777777;
    position: absolute;
    right: -200px;

}


/* .culture__image-box:after{
    content: "";
    width: 85px;
    border: 3px solid green;
    position: absolute;
    right: 120px;

} */
