/* RESET */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,button{
    border:none;
}
*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}

/* BUTTONS */

.btn{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 44.21px;
    letter-spacing: -0.37px;
}

.btn__oval{
    border-radius: 30px;
    padding: 8px 26px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.btn__oval--green{
    background: #7cc576;
    color: #fff;
}

/* .btn__oval--white{
    background: #fff;
    color: #7cc576;
} */

.btn__arrow{
    background: #fff;
    color: #7cc576;
    background: url("images/icon_arrow_right.svg") right no-repeat;
    padding: 12px 24px 12px 0;
}

.btn__rectangle{
    border-radius: 10px;
    padding: 4px 26px;
    font-size: 18px;
    line-height: 41px;
    letter-spacing: -0.45px;
}

.btn__rectangle--green{
    background: #7cc576;
    color: #ffffff;
    border: 3px solid #ffffff;
}

/* HEADINGS */

.heading{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.heading__main{
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -3px;
}

.heading__section{
    font-size: 40px;
    line-height: 75px;
    letter-spacing: -2px;
    text-align: center;
    margin: 24px 0 8px 0;
}

.heading__article{
    font-size: 18px;
    line-height: 75px;
    letter-spacing: -0.45px;
}

.heading__dark-grey{
    color: #222;
}

.heading__white{
    color: #ffffff;
}

.heading__special{
    color: #7cc576;
}
/* TEXT */

.text{
    font-family: 'Roboto Slab', serif;
}

.text__subheading{
    font-size: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 32px;
}

.text__article{
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 24px;
}

.text__list{
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 24px;
}

.text__quote{
    font-size: 22px;
    line-height: 28px;
}

.text__author{
    font-size: 18px;
    line-height: 36px;
}

.text__grey{
    color: #777;
}

.text__dark-grey{
    color: #222;
}

.text__light-grey{
    color: #cccccc;
}

.text__green{
    color: #7cc576;
}


/* NAVBAR */

.navbar{
    padding: 24px 0;
}

.navbar-company{
    display: inline-block;
    padding-top: 16px;
    text-decoration: none;
}

.navbar-company__image{
    margin-right: 4px;
}

.navbar-company__name{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
    font-size: 18px;
    line-height: 21px;
    padding-top: 6px;
}

.navbar-menu{
    list-style: none;
    float: right;
    display: flex;
    justify-content: flex-end;
}

.navbar-menu__elem{
    font-family: 'Montserrat', sans-serif;
    padding: 24px 16px;
}

.navbar-menu__link {
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

/* TITLE SECTION */
.title{
    background-image: url("images/title-img.jpg") ;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    text-align:center;
    color: #fff;
}
.title__layer{
    background: rgba(0,0,0,0.75);
    padding: 80px 0;
}

.title__heading{
    margin: 30px 0;    
}

.title__btn{
        margin: 60px 0 40px 0;
}

/* OFFER , CULTURE */

.offer, .culture {
    padding: 80px 0;
}

.offer__heading, .culture__heading{
    margin: 30px 0;
}

.offer__subheading, .culture__subheading{
    margin-bottom: 72px;
}

.offer__articles, .culture__articles{
    display: flex;
    justify-content: center;
}

.offer__article, .culture__article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 275px;
    text-align: center;
    margin: 0 16px;
}

.culture{
    background: #f9f9f9;
}

.culture__image-box{
    width: 85px;
    height: 85px;
    border: 3px solid #777777;
    border-radius: 50%;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.culture__articles .culture__article:nth-child(1) .culture__image-box:after, 
.culture__articles .culture__article:nth-child(2) .culture__image-box:after {
    content: "";
    width: 170px;
    border-top: 3px solid #777777;
    position: absolute;
    right: -200px;

}

/* MORE */

.more{
    display: flex;
}

.more__left{
    width: 30%;
    background: #e9e9e9;
    position: relative;
    z-index: -2;
}

.more__left-gear{
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: -1;
}

.more__right{
    width: 70%;
    background: url("images/section_more_background.png");
}

.more__right-layer{
    background: rgba(0,0,0,0.75);
    padding: 88px 0 88px 104px;
}

.more__heading{
    text-align: left;
    margin: 0 0 24px 0;
    line-height: 50px;
}

.more__list{
    margin: 24px 0 64px 0;
}

.more__list-element{
    text-transform: capitalize;
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.more__checkmark-box{
    width: 33px;
    height: 32px;
    border: 2px solid #cccccc;
    border-radius: 50%;
    background: url("images/checkmark.svg") no-repeat center;
    margin-right: 16px;
}
/* PROJECTS */
 
.projects{
    background: url("images/section_projects_background.png") no-repeat 640px 280px;
    background-size: 80%;
    padding: 88px 0 88px 0;
}

.projects__text{
    width: 425px;
}

.projects__list-elem{
    display: flex;
    margin: 14px 0 14px 0;
}

.projects__list-elem-icon{
    width: 67px;
    height: 68px;
    border: 3px solid #000000;
    border-radius: 50%;
    display: flex;
    justify-;content: center;
    align-items: center;
    margin-right: 16px;

}

.projects__list-elem-heading{
    text-transform: capitalize;
    line-height: 18px;
    margin-top: 16px;
}

/* CLIENTS */

.clients{
    padding: 88px 0 88px 0;
}

.clients__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients__text-box{
    width: 643px;
    text-align: center;
    background: #f9f9f9;
    padding: 24px;
    position: relative;
}

.clients__box:nth-child(3) .clients__text-box:after{
    content: "";
    position: absolute;
    top: 50px;
    left: -40px;
    border: 20px solid transparent;
    border-right-color:#f9f9f9;
}

.clients__box:nth-child(4) .clients__text-box:after{
    content: "";
    position: absolute;
    top: 50px;
    right: -40px;
    border: 20px solid transparent;
    border-left-color:#f9f9f9;
}

.clients__face-box{
    width: 221px;
    height: 221px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background-color: #f9f9f9;
}

/* CONTACT */

.contact{
    background: #7cc576;
    padding:40px 0 60px 0;
    text-align: center;
}

